body{
	margin: 0;
	font-family: Arial;
}
p, li {
	color: #777;
}

#container {
	width: 100%;
	margin: 0 auto;
}

header {
    background: #ffffff;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #ccc;
}

.container-nav {
	width: 80%;
	margin: 0 auto;
}
.name {
    width: 20%;
    display: inline-block;
    padding: 1.2em;
    background: #4aaaa5;
    text-align: center;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

.menu {
    width: 50%;
    float: right;
    font-size: 18px;
}

.menu ul>li {
    float: left;
    padding: 1em;
    list-style: none;
}

.menu ul {
    float: right;
}

.main-sec{
	width:100%;
	margin: 0 auto;
	background: #333;
}
.main-sec {
    width: 100%;
    margin: 0 auto;
    background: rgba(51, 51, 51, 0.7);
    display: block;
}

.inside-body {
    width: 80%;
    margin: 0 auto;
}
   

.about {
    width: 55%;
    display: inline-block;
    padding: 2%;
    background: #fff;
    margin: 2% auto;
    line-height: 2em;
}

.connect, .me {
    border-bottom: 1px solid #777;
    color: #4aaaa5;
}

.side-social {
    width: 27%;
    float: right;
    background: #fff;
    margin: 2% auto;
    padding: 2%;
}

.side-social ul {
    text-align: center;
    padding: 0;
}

.side-social ul>li {
    list-style: none;
    width: 33%;
    float: left;
    text-align: center;
}

.side-social ul>li img {
    width: 79%;
}

footer {
	width:100%;
	margin: 0 auto;
	background: #666;
	border-top: 10px solid #4aaaa5;;
	padding: 2em;
	clear:both;
	text-align: center;
}